/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #2d2dff;
    background-color: #bce0ff;
  }

  h3 {
    padding: 10px;
    margin-bottom: 10px;
    border :solid 1px #2d2dff;
    background-color: #bce0ff;
  } 

  .output {
    padding: 10px;
    margin-bottom: 10px;
    border :solid 1px #2d2dff;
    background-color: #bce0ff;
    display: inline-flex;
  } 

  .tesla{
    width: 50%;
    margin-left: 500px;
  }

.output{
  font-family: Georgia, serif;
  font-size: 30px;
  margin-bottom: 10px;
  color:#7881a5
  
}